<% if object.errors.any? %>
  <div id="error">
    <div class=" error-warning">
      エラーの数<%= object.errors.count %>error<br>
    </div>
      <ul >
      <% object.errors.full_messages.each do |m|%>
        <li class=" error-message"><%= m %></li>
      <% end %>
      </ul>
  </div>
<% end 