<div class="main">
 <h1 class="imagefadeout">チャットアプリに挑戦しました！</h1>
 <span><%= image_tag('toufukuji1.jpg', alt:"logo", width:"2000px", class:'imagefadeout') %></span>
<h1>自己紹介ページ</h1>
<h1 class="main-title">Hi Iam toyo-takechan 👋</h1>
<h1 class="main-title2">プログラミング初心者です。<h1>

 <p class="main-title-p">
  現在　大阪のお菓子の会社で　部長をしています。<br>
  おじさんですが、プログラミングの勉強をしています。<br>
  下手くそな　アプリを作成中！　なんとかブラッシュアップしていきたいです。</p>

 <p class="main-title-p">Railsチュートリアル　Progate ドットインストール　で学習中！</p>
</div>