<div class="wrapper">  
  <div class="wrapper-top">
    <h1>チャットアプリ　作成してみました。</h1>
  </div>
  <div class="wrapper-second">
  <%= link_to image_tag('chat1', alt:"logo", width:'200px') %>
  <h2>Ruby on Rails</h2>
    
  <div>
  <div class="wrapper-third">
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
    <p>楽しく作成</p>
  </div>
  <div class="wrapper-form">
    <p>フォーム作成中</p>
  </div>
</div>
