<div class="main">
  <h1 class="imagefadeout">楽しいチャットの世界！</h1>
  <span><%= image_tag('jitensha1.jpeg', alt:"logo", width: '1500px', class:'imagefadeout', id:'imagepark') %></span>
<h1>ChatAppにようこそ！</h1>
<%=link_to image_tag('chat1.jpeg', alt:"logo", width:'100px'), class:"#" %>
    <h1 class="main-title">Nice conversation in chat<br>Let's enjoy!</h1>
    <h1 class="main-title2">使い方は簡単 - すぐに始められます。</h1><span></span>
    <h1 class="main-title2">気軽につぶやき、気軽につながる。</h1><span><span>
    <p class="main-title-p">チャットルームを作成することで、プロジェクトを整理して作業を円滑に進めることができます。<br>
    チャットで会話を共有できるため、全員の認識を統一可能。Chatを仕事に活用してみよう。</p>
    
    <p class="main-title-p">「皆でワイワイと楽しみたい！」と思ったらオススメなのがチャットアプリ！<br>
        楽しい情報を交換して、楽しく盛り上がりましょう。<br>
　　　　　ゲームでも漫画でも　楽しく情報交換できるんですよね。</p>
  
    <p>制作途中のアプリです。</p>
</div>
