<div class="hide" id="hide-wrapper">
  <h1>practice</h1>
  <div class="hide-btn" id="hide-text">説明を隠す</div>
  <h1 id="hide-title">HELLO WORLD!</h1>

   <div class="btn">ボタンをクリック</div>
  
  <h1 id="hide-title2">みなさん、こんにちは</h1>
  
  <h2 id="hide-text2">プログラミングの世界へようこそ！</h2>

  <p class="hide-btn2" id="find-method">findメソッド</p><br>
  
  <!-- "children-method"というidをつけてください -->
  <p class="c" id="children-method">childrenメソッド</p><br>
  
    <a href="#">リンク1</a>
    <a href="#">リンク2</a>

  <div id="language-wrapper">
    <h1 class="language-title">jQueryとは?</h1>
    <p class="language-text">
      JavaScriptのライブラリの1つです。<br>
      ユーザーのクリックに反応して表示されるフォームや、アニメーションなど、<br>
      HTMLとCSSだけでは実現できなかった様々な動きを表現することができます。
    </p>
  </div>

  <div class="modal-wrapper" >
    <div class="hide-btn2" id="modal-show">モーダル出現</div>
    <div class="modal-btn2" id="modal-test">
      <div class="close-modal">
        <p class="hide-btn2">閉じる</p>
      </div>

      <h2>モーダルの世界へようこそ</h2>
      <p>モーダルウィンドウとは、ウィンドウ内の指定に対してユーザー適切に応答しない限り他のウインドウを操作できないウィンドウのことです。<br>
      アクセス中のサイトを親ウィンドウとし、その子ウィンドウとして生成されます。</p>
      </div>
  </div>

  <div><%= image_tag('ruby1.png', alt:"logo", width:'600px', class:"ruby-png")%></div>
</div>
