// ここからheader
.header{
  width: 100%;
  height: 100px;
  background-color: yellowgreen;
}

.container{
  display: flex;
  width: 100%;
  min-height: calc(100vh - 200px);
  // background-color: orchid;
  background-image: image_url('jitensha1.jpeg');
  background-size: center top,100% auto;
  .aside{
    width: 350px;
    background-color: paleturquoise;
  }
}

// ここからaside
.aside {
  background-color: orange;
  width: 300px;
}

// ここから　home
.wrapper{
}

// ここからfooter
.footer{
  width: 100%;
  height: 100px;
  background-color: yellow;
  display: flex;
  &-left{
    width: 350px;
    background-color: palevioletred;
  }
  &-middle{
    width: calc(100% - 700px);
    background-color: blue;
  }
  &-right{
    width: 350px;
    background-color: blanchedalmond;
    &-link {
      display: flex;
      list-style: none;
    }
    &-link li{
      padding-left: 10px;
    }
    &-link li a{
      text-decoration: none;
    }
  }
}