body{
  // background-image: image_url('jitensha1.jpeg');
  background-image: image_url('sora1.jpeg');
  background-size: cover;
  
  // ここからheader
.header{
  width: 100%;
  height: 100px;
  // background-color: yellowgreen;
  display: flex;
  align-items: center;
  &-logo{
    width: 100px;
    padding: 10px;
  }
  &-left{
    width: 100px;
  }
  &-main{
    flex: 1;
    text-align: center;
    &-form{
  
    }
  }
  &-right{
    width: 300px;
    height: 80px;
    line-height: 80px;
    padding: 5px;
    align-items: center;
    &-ul{
      display: flex;
      list-style: none;
      color: #fff;
      height: 60px;
      &-li{
        margin: 0 auto;
        padding: 0 10px;
        cursor: pointer;
        line-height: 60px;
      }
      &-li a{
        text-decoration: none;
        color: #fff;
      }
    }
    &-btn {
      background-color: #5dca88;
      border-radius: 3px;
      box-shadow: 0px 5px #279C56;
      min-width: 80px;
      text-align: center;
    }
    &-btn a {
      display: block;
    }
  }
}

.container{
  display: flex;
  width: 100%;
  min-height: calc(100vh - 200px);
  // background-color: orchid;
  height: auto;
  .aside{
    width: 350px;
    // background-color: paleturquoise;
  }
  
  // ここから　home
  .main{
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    &-title{
      display: none;
      font-size: 45px;
      opacity: 0.7;
    }
    &-title2{
      display: none;
    }
    &-title-p{
      display: none;
      font-size: 16px;
    }
    // ここからshowページ
    &-show{
      &-h1{
        font-size: 46px;
        color: black
      }
      &-p{
        color: black
      }
    }
  }
  .imagefadeout{
    display:　inline-block;
    display: none;
    position: absolute;
    top: 　0px;
    left: 0px;
  }
  
}

// ここからpractce
.hide{
  width: 100%;
  text-align: center;
  &-btn,&-btn2{
    display: inline-block;
    cursor: pointer;
    background-color: #5dca88;
    border-radius: 3px;
    box-shadow: 0px 5px #279C56;
    color: #fff;
    font-size :12px;
    padding: 12px 80px;
  }
  &-btn:active {
    position: relative;
    box-shadow: none;
    top: 5px;
  }
}
.modal-btn2{
  position: absolute;
  top:  20%;
  left: 23%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 600px;
  height: auto;
  text-align: center;
  display: none;
}
.ruby-icon{
  padding-top:    30px;
  padding-bottom: 30px;
  position: relative;
  &-p{
    position: absolute;
    top: 75px;
    width: 100%;
    color:white;
    display: none;
  }
  .text-active{
    display: block;
  }
}
.faq{
  &-list-item{
    position: relative;
    cursor: pointer;
    list-style: none;
    &-list-item h3{
      font-size: 14px;
    }
    &-list-item span{
      position: absolute;
      top:0;
      right:5px;
      color:#ccc;
      font-size:13px;
    }
  }
  .answer{
    font-size: 12px;
    display: none;
  }
}
// デバッグ用debug_dump
  .debug_dump {
    float: left;
    position: fixed;
    margin-top: 45px;
    // border-radius: 8px;
    // border: 1px solid;
}

// ここからフォーム
  .form{
    // width: 100px;
    text-align: center;
    flex: 1;
    padding-top: 30px;
    &-control{
      min-width: 400px;
      // width: 40%;
      font-size: 24px;
      border-radius: 8px;
      border: 1px solid #bbb;
      &-name{
        min-width: 400px;
        width: 603px;
      }
      &-email{
        min-width: 400px;
        width: 605px;
      }
      &-password{
        min-width: 400px;
        width: 558px;
      }
      &-password_confirmation{
        // min-width: 400px;
      }
    }
    &-btn{
      min-width: 200px;
      font-size: 24px;
      border-radius: 8px;
      border: 1px solid #bbb;
      background-color: #5dca88;
    }
  }

  .checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    // font-weight: normal;
    }
  } 
  #session_remember_me {
  // width: auto;
  // margin-left: 0;
  }


// ここからfooter
.footer{
  width: 100%;
  background-color: rgb(32, 32, 32);
  display: flex;
  color: #ccc;
  &-left{
    display: flex;
    width: 350px;
    // background-color: palevioletred;
    &-ul {
      &-li{
        list-style: none;
      }     
      &-li a{
        color: white;
        text-decoration: none;
    }
    }
  }
  &-middle{
    // width: 300px;
    width: calc(100% - 700px);
    // background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    &-span a{
      text-decoration: none;
      color: white
    }
    /*Twitter*/
    .fa-twitter{color:#1da1f2;}
    /*Facebook*/
    .fa-facebook{color:#3b5998;}
    /*instagram*/
    .fa-instagram-square{color:#e1306c;}
    .fa-google{ color: plum}
  }
  
  &-right{
    width: 350px;
    // background-color: blanchedalmond;
    &-link {
      display: flex;
      list-style: none;
    }
    &-link li{
      padding-left: 10px;
    }
    &-link li a{
      text-decoration: none;
      color:white;
    }
  }
 }
//  ここからshared エラー
 .error {
   color: red;
   ul {
    color: red;
    margin: 0 0 30px 0;
  }
 }

//  ここからflash
 .alert{
  width: 100%;
  position: absolute;
  position: fixed;
  margin-top: 0px;
 }
 .alert-success{
   background-color:  skyblue;
   text-align: center;
   padding: 10px;
   color: white;
 }
}