<div class="aside">
  <%# <% if @feed_items.any? %> 
  <%# <ol class="microposts"> %>
    <%# <%= render @feed_items %> 
  <%# </ol> %>
  <%# <%= paginate @feed_items, params: { controller: :home, action: :index }  %> 
<%# <% end %> 
  <span class="debug_dump"><%= debug(params) if Rails.env.development? %></span>
</div>