<div class=" header">
  <div class="header-logo">
    <%= image_tag('chat1.jpeg', alt:"logo", width:"80px")%>
  </div>
  <div class="header-left"></div>
  <div class="header-main">
    検索バー
  </div>
  <div class="header-right">
    <ul class="header-right-ul">
    <li class="header-right-ul-li">ログイン</li>
    <li class="header-right-ul-li">新規登録</li>
    </ul>
  </div>
</div>